@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    cursor: crosshair;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 18px;
}

.dark {
    background-color: #2d2d2d;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #2d2d2d;
}

.container {
    margin: 0 auto;
    max-width: 1050px;
    width: 100vw;
}

@media screen and (max-width: 1150px) {
    .container {
        margin: 50px auto;
    }
}

.img{
    height: 100px;
    width: 100px;
}

.btn {
    border: 2px solid;
    display: block;
    font-size: 16px;
    margin: 10px 20px 30px 20px;
    padding: 10px;
    width: calc(100% - 40px);
    cursor: cell;
}

.border {
    border: 2px solid;
}